<div *ngIf="!(accessChecker.isGranted('view', 'organisations') | async)" class="accessChecker container flex-centers p-0">
  <div class="row">
    <div class="col-md-12 text-center">
      <nb-card>
        <nb-card-body class="d-flex justify-content-center">
          <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
            <h2 class="title">403 Access Denied</h2>
            <h3 class="sub-title">You are not a super admin</h3>
            <button routerLink="/pages/home" type="button" class="btn btn-block btn-hero-primary">
              Take me home
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>



<div *ngIf="accessChecker.isGranted('view', 'organisations') | async" class="accessChecker">
  <nb-card *ngIf="(!goForm) ? true : false">
    <nb-card-header>
      <h1>List-Organisations</h1>
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table (edit)="edit($event)" (delete)="deleteOrgSubmit($event)" (create)="create($event)"
        [source]="orgInfo" [settings]="settings">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>



  <nb-card *ngIf="(goForm == true) ? true : false" class="container-fluid">
    <nb-card-header>
      <h1 *ngIf="isAdd">Orgnisation Info</h1>
      <h2 *ngIf="isEdit">Orgnisation Info</h2>
    </nb-card-header>
    <nb-card-body>
      <div class="">
        <!-- Name -->
        <div class="form-group">
          <label class="font-weight-bold" for="">Name:</label>

          <input required minlength="4" #name="ngModel" [(ngModel)]="FormOrg['name']" placeholder="Name"
            class="form-control" type="text">
          <!-- Validation -->
          <div *ngIf="name.invalid && (name.dirty || name.touched) && isAdd" class="alert alert-danger">

            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="name.errors.forbiddenName">
              Name cannot be Bob.
            </div>

          </div>
        </div>
        <!-- Address -->
        <div class="form-group">
          <label class="font-weight-bold" for="">Address:</label>
          <input #address="ngModel" required placeholder="Address" [(ngModel)]="FormOrg['address']" class="form-control"
            type="text">
          <!-- Validation -->
          <div *ngIf="address.invalid && (address.dirty || address.touched) && isAdd" class="alert alert-danger">
            <div *ngIf="address.errors.required">
              Address is required.
            </div>
          </div>
        </div>
        <!-- Logo -->
        <div class="form-group">
          <label class="font-weight-bold mr-2" for="">Logo:</label>
          <input id="logo" type="file" class="" accept="image/*">
        </div>
        <!-- Admin User -->
        <div class="form-group mt-1">
          <label class="font-weight-bold" for="">Admin User Info:</label>
          <input #adminUser="ngModel" required placeholder="User name" [(ngModel)]="FormOrg['adminUser']"
            class="form-control" type="text">

          <div *ngIf="adminUser.invalid && (adminUser.dirty || adminUser.touched)" class="alert alert-danger">
            <div *ngIf="adminUser.errors.required">
              User name is required.
            </div>
          </div>
        </div>
        <!-- Admin Password -->
        <div class="form-group">
          <label class="font-weight-bold" for="">Admin Password Info:</label>
          <input #adminPassword="ngModel" type="password" class="form-control" required placeholder="Password"
            [(ngModel)]="FormOrg['adminPassword']">
          <div *ngIf="adminPassword.invalid && (adminPassword.dirty || adminPassword.touched)"
            class="alert alert-danger">
            <div *ngIf="adminPassword.errors.required">
              Password is required.
            </div>
          </div>
        </div>
        <!-- DOB -->
        <div class="form-group">
          <label class="font-weight-bold" for="">D.O.B:</label>
          <input #dob="ngModel" required [(ngModel)]="FormOrg['dob']" class="form-control" nbInput
            placeholder="Choose a Date/Time" [nbDatepicker]="formpicker">
          <nb-datepicker [format]="'YYYY-MM-DD'" #formpicker></nb-datepicker>

          <div *ngIf="dob.invalid && (dob.dirty || dob.touched) && isAdd" class="alert alert-danger">
            <div *ngIf="dob.errors.required">
              D.O.B is required.
            </div>
          </div>
        </div>
        <!-- email -->
        <div class="form-group">
          <label class="font-weight-bold" for="">Email:</label>
          <input #email="ngModel" required placeholder="Password" [(ngModel)]="FormOrg['email']" class="form-control"
            type="email">

          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
          </div>
        </div>
        <!-- nric -->
        <div class="form-group">
          <label class="font-weight-bold" for="">NRIC/Id Number:</label>
          <input #nric="ngModel" required placeholder="NRIC/Id Number" [(ngModel)]="FormOrg['nric']"
            class="form-control" type="text">

          <div *ngIf="nric.invalid && (nric.dirty || nric.touched)" class="alert alert-danger">
            <div *ngIf="nric.errors.required">
              Password is required.
            </div>
          </div>
        </div>
        <!-- uuid -->
        <!-- <div class="form-group">
          <label class="font-weight-bold" for="">UUID:</label>
          <input #uuid="ngModel" required placeholder="Uuid" [(ngModel)]="FormOrg['uuid']" class="form-control"
            type="text">

          <div *ngIf="uuid.invalid && (uuid.dirty || uuid.touched)" class="alert alert-danger">
            <div *ngIf="uuid.errors.required">
              Password is required.
            </div>
          </div>
        </div> -->
        <!-- Phone Number -->
        <div class="form-group">
          <label class="font-weight-bold" for="">Phone Number:</label>
          <input #phoneNumber="ngModel" required placeholder="Phone Number" [(ngModel)]="FormOrg['phoneNumber']"
            class="form-control" type="text">

          <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
            <div *ngIf="phoneNumber.errors.required">
              phoneNumber is required.
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-between">
      <a (click)="clear()" class="btn btn-dark text-light cursor-pointer">Back</a>
      <a *ngIf="isAdd" (click)="createOrgSubmit(FormOrg)" class="btn btn-dark text-light cursor-pointer"
        [class.disabled]="name.invalid">Save</a>
      <a *ngIf="isEdit" (click)="editOrgSubmit(FormOrg)" class="btn btn-dark ml-2 text-light cursor-pointer">Save</a>
    </nb-card-footer>
  </nb-card>
</div>
